.vscode/settings.json
debugger/debuglogs/CameraVectors.txt
debugger/debuglogs/CamOriginVec.txt
debugger/debuglogs/DirectionVec.txt
debugger/debuglogs/RightVector.txt
.vscode/launch.json
.vscode/tasks.json
cmake-build-debug/
CMakeFiles/